<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="zed_imu_link">
        <inertial>
            <mass value="0.05"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <material name="imu_frame">
                <color rgba="1.0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <!-- <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
        </collision> -->
    </link>

    <joint name="zed_imu_joint" type="fixed">
        <parent link="zed_camera_link"/>
        <child link="zed_imu_link"/>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
    </joint>


    <gazebo>
        <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system" />
    </gazebo>

    <gazebo reference="zed_imu_link">
        <sensor name="imu" type="imu">
            <imu></imu>
            <always_on>1</always_on>
            <initialOrientationAsReference>false</initialOrientationAsReference>
            <updateRate>100</updateRate>
            <visualize>true</visualize>
            <topic>imu/data_raw</topic>
      </sensor>
    </gazebo>
</robot>